*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #20BDC0;
}

.Logo1 {
    max-width: 150px;
    max-height: 150px;
    margin-top: 1rem;
    margin-right: 7rem;
    margin-left: 7rem;
    margin-bottom: 1rem;  
}

main {
    flex: 1; /* Allow the main content to grow and push the footer to the bottom. */
}

p {
    background-color: white;
    color: #0B6f70;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    background-color: #0B6f70;
    color: #E08426;
    text-align: center;
    padding: 0.5rem;
}

.feitjes ul {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    color: #0B6f70;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1em;
    padding-left: 2rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.feitjes {
    margin-top: 2rem;
    margin-bottom: 7rem;
    
}

.feitjesfoto1 {
    background-image: url(images/watertap1.jpg);
    min-height: 120px;
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.feitjesfoto2 {
    background-image: url(images/fles.jpg);
    min-height: 120px;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.feitjesfoto3 {
    background-image: url(/images/watertap3.jpg);
    min-height: 120px;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    background-color: #0B6f70;
    position: fixed;
    bottom: 0;
}

footer nav ul li img{
    max-width: 40px;
    max-height: 40px;
}

footer ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
}

footer li a{
    display: block;
    color: #E08426;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
}