*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
}

li a{
    display: block;
    color: #E08426;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #20BDC0;
}

.Logo1 {
    max-width: 150px;
    max-height: 150px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 1rem;
    margin-right: 7rem;
    margin-left: 7rem;
    margin-bottom: 1rem;  
}

main {
    flex: 1; /* Allow the main content to grow and push the footer to the bottom. */
}

p {
    background-color: white;
    color: #0B6f70;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    background-color: #0B6f70;
    color: #E08426;
    text-align: center;
    padding: 0.5rem;
}

footer {
    background-color: #0B6f70;
}

footer nav ul li img{
    max-width: 40px;
    max-height: 40px;
}