*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #20BDC0;
    color: #0B6f70;
}

main {
    flex: 1; /* Allow the main content to grow and push the footer to the bottom. */
}

h1 {
    background-color: #0B6f70;
    color: #E08426;
    text-align: center;
    padding: 0.5rem;
}

.Logo1 {
    max-width: 150px;
    max-height: 150px;  
    margin: 1rem 0rem 0rem 7rem ;
    display: block;
}

.tekst {
    background-color: white;
    margin: 1rem 2rem 2rem 2rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
}

.feitjes {
    margin: 1rem 0rem 6rem 0rem;
}

.feitjes ul {
    margin: 0rem 2rem;
    background-color: white;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feitjesfoto1 {
    background-image: url(images/watertap1.jpg);
    min-height: 120px;
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0rem 2rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feitjesfoto2 {
    background-image: url(images/fles.jpg);
    min-height: 120px;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0rem 2rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feitjesfoto3 {
    background-image: url(images/watertap3.jpg);
    min-height: 120px;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0rem 2rem;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.map {
    max-width: 83%;
    margin: 1rem 2rem 0.4rem 2rem;
    padding: 0.3rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}
.locatekst {
    background-color: white;
    margin: 0rem 2rem 6rem;
    padding: 1rem 1rem 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}

.locatekst p{
    padding: 1rem 0rem;
}

.locatekst ol li {
    margin-left: 1rem;
}

.locaties ol li {
    padding: 0.2rem 0rem;
}

.interviewstekst{
    margin: 2rem 2rem 6rem 2rem;
    
}

.interviewstekst img{
    max-width: 100%;
    margin: 0.5rem 0rem;
}

h4{
    margin-bottom: 0.5rem;
}

.it {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

footer {
    background-color: #0B6f70;
    position: fixed;
    bottom: 0;
}

footer ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
}

footer li a {
    display: inline-block;
    color: #E08426;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;

}footer nav ul li img {
    max-width: 40px;
    max-height: 40px;
}
